.notification-container {
    background-color: #252a40;
    /* Dark container background */
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
    /* Light text */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    /* Soft shadow */
}

.notification {
    width: 450px;
    padding: 15px;
    /* width: 100%; */
    margin-bottom: 10px;
    background-color: #2d344b;
    /* Darker notification background */
    border: 1px solid #3c4559;
    /* Light border */
    border-radius: 8px;
    /* display: flex; */
}

/* Access/Block buttons */
.notification-actions button {
    border-radius: 5px;
    padding: 6px 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 8px;
    font-size: 14px;
}

.notification-actions .MuiButton-containedPrimary {
    background-color: #82ca9d;
    /* Light blue */
    color: white;
    box-shadow: none;
}

.notification-actions .MuiButton-containedPrimary:hover {
    background-color: #82ca9d;
    /* Darker blue on hover */
}

.notification-actions .MuiButton-containedSecondary {
    background-color: #FA5882;
    /* Light orange */
    color: white;
    box-shadow: none;
}

.notification-actions .MuiButton-containedSecondary:hover {
    background-color: #FA5882;
    /* Darker orange on hover */
}

/* Text for Notifications */
strong {
    color: #31c6f5;
    /* Blue highlight for IP */
}

.notification p {
    margin: 0;
    color: #a1e1f4;
    /* Light blue for notification text */
}

.btn {
    margin-left: 55px;
}